{% load static %}
<footer>
    <div class="redes">
        <h1>Redes Sociais</h1>
    </div>
    
    <div class="medias-socias">
        <a href="https://www.instagram.com/mouraautocenterpi/" target="_blank"> <i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/user/quatrorodas" target="_blank"> <i class="fa fa-youtube-play"></i> </a>
        <a href="https://api.whatsapp.com/send?phone=5586995653034&text=Ol%C3%A1%2C%20Auto%20center%20Moura" target="_blank"> <i class="fa fa-whatsapp"></i> </a>
    </div>
    
    <div class="rodape">
        <p> Todos os Direitos ® 
            Reservados AUTO CENTER MOURA © 2022 
        </p>
    </div>
</footer>
