{% load static %}
<header>
    <!-- Menu -->
    <nav> 
        <div Class ="logo"> 
            <a href={% url 'index'%}><img src={% static 'img/Logo_auto.png' %}  a; ="none"> </a>
        </div>
        
            <ul>
                <li><a href={% url 'servico'%}>Serviços</a></li>
                <li><a href={% url 'quemsomos'%}>Quem Somos</a></li>
                <li><a href={% url 'blog'%}>Blog</a></li>
                <li><a href={% url 'localizacao'%}>Localização</a></li>
                <li><a href={% url 'contato'%}>Contato</a></li>
            </ul>
        
            <div Class ="menu-icon">
                <img src ={% static 'img/menu.png'%}>
        </div>
    </nav>
</header>