{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<div Class ="contenier"> 
    {%  include 'partials/menu.html'  %}
        <!-- Fim do Menu -->
        <!-- Corpo do site-->
        <main>
            <div class="text-ser">
                <h1><b>Quem Somos</b></h1>
                <P> Somos um time apaixonado por carros, e vinhemos trazer para vocês essa<p>
                    experiência de tratamento de veículos, com manutenções preventivas, <p>checkup, e corretiva.
                </P>
            
            </div>
            
            <div class="img-bx">
                <img src={% static 'img/mec.png'%}>
            </div>
        </main>
         <!-- fim do Corpo do site-->
         <!-- rodape-->
         {%  include 'partials/footer.html'  %}
</div>
{% endblock %}
 