{% extends 'base.html' %}
{% load static %}
{% block content %}
<div Class ="contenier"> 
 
{%  include 'partials/menu.html'  %}
        <!-- Fim do Menu -->
        <!-- Corpo do site-->
        <main>
            <div class="text-bx">
                <h1><b>MOURA AUTO CENTER</b></h1>
                <P> bem vindo, 
                </P>
            
                <div class="input-bx">
                    <p><input type="nome" placeholder="Seu nome"></p>
                    
                    <p><input type="email" placeholder="Seu E-mail"></p>
                    
                    <p><button nome="Enviar">Enviar</button></p>
                    
                </div>
            </div>
            
            <div class="img-bx">
                <img src={% static 'img/mec.png'%}>
            </div>
        </main>
         <!-- fim do Corpo do site-->
         <!-- rodape-->
         {%  include 'partials/footer.html'  %}
</div>

{% endblock %}
 